.services {
    background: #bad7f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 50px;
  }
  
  .services__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .services__card {
    margin: 1rem;
    height: 525px;
    width: 100%;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: white;
    transition: transform 0.2s ease-in;
  }
  
  .services__card:hover {
    transform: scale(1.075);
    cursor: pointer;
  }
  
  .services__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
  }
  
  .services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
  }
  
  .services__card button {
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 960px) {
    .services {
      height: auto;
    }
  
    .services h1 {
      font-size: 2rem;
      margin-top: 6rem;
    }
  
    .services__container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 480px) {
    .services h1 {
      font-size: 1.5rem;
    }
  
    .services__card {
      width: 90%;
    }
  }
  